<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main" *ngIf="action.ResponseReceived">
  <div class="row">
    <div class="pagetitle dashboard col-sm-8">
      <h1>{{action.MenuTitle}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
          <li class="breadcrumb-item">{{action.ParentMenuTitle}}</li>
          <li class="breadcrumb-item active">{{action.MenuTitle}}</li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-4">
      <button mat-raised-button color="primary" *ngIf="action.CanCreate" class="float-right"
        (click)="newLeadAssign()">New Lead Assign</button>
    </div>
  </div>

  <section class="section dashboard">
    <div class="card">
      <div class="card-body">
        <div class="table-container overflow-auto">
          <div class="dataTable-top">
            <div class="dataTable-dropdown d-flex">
              <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                <option *ngFor="let option of PageSize" [value]="option">{{ option }}</option>
              </select>
              <span class="ms-2">Entries per page</span>
            </div>
            <div class="dataTable-search">
              <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search" placeholder="Search..."
                type="text">
            </div>
          </div>

          <table class="table table-sm table-bordered table-hover">
            <thead>
              <tr>
                <th>S.No</th>
                <th style="cursor:pointer;" (click)="sort('staffId')">Staff Name</th>
                <th style="cursor:pointer;" (click)="sort('LeadDate')">Lead Date</th>
                <th style="cursor:pointer;" (click)="sort('Lead Category Name')">Lead Category Name</th>
                <th style="cursor:pointer;" (click)="sort('Lead Category Name')">Lead Details </th>
                <th >File </th>

                <th style="cursor:pointer;" (click)="sort('Instruction')">Instruction</th>
                <!-- <th style="cursor:pointer;" (click)="sort('LeadAssignName')">Lead Assign Name</th>
                <th style="cursor:pointer;" (click)="sort('LeadAssignName')">Lead Assign Name</th> -->
                <th style="cursor:pointer;" (click)="sort('Status')">Status</th>
                <th *ngIf="action.CanEdit">Edit</th>
                <th *ngIf="action.CanDelete">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of LeadAssignList | filter:Search | orderBy:sortKey:reverse | paginate: { itemsPerPage: itemPerPage, currentPage: p }; let i = index;">
                <td>{{ (itemPerPage * (p - 1)) + i + 1 }}</td>
                <td>{{ item.StaffName }}</td>
                <td>{{ item.LeadDate | date:"dd-MM-yy" }}</td>
                <td>{{ item.LeadCategoryName }}</td>
                <td>{{ item.LeadDetail }}</td>
                <td><a [href]="imageUrl + item.Attachments" target="_blank"
                                                style="color:darkgoldenrod">View Attachment</a></td>
                <td>{{ item.Instruction }}</td>
                <td>
                  <span class="p-1" [ngClass]="item.Status == 1 ? 'badge text-bg-success' : 'badge text-bg-danger'">
                    {{ AllStatusList[item.Status] }}
                  </span>
                </td>
                <td *ngIf="action.CanEdit">
                  <button class="btn btn-sm btn-warning" (click)="editLeadAssign(item)">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                </td>
                <td *ngIf="action.CanDelete">
                  <button class="btn btn-sm btn-danger" (click)="DeleteLeadAssign(item)">
                    <i class="bi bi-trash-fill"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="dataTable-bottom">
            <pagination-controls (pageChange)="p = $event" style="float:right;"
              class="my-pagination"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" *ngIf="action.CanEdit || action.CanCreate" id="modal_popup" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ LeadAssign.LeadId > 0 ? 'Update' : 'New' }} Lead
            Assign</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #formLeadAssign="ngForm" class="d-flex justify-content-evenly flex-wrap">
            <div class="container">
              <div class="row">



                <mat-form-field appearance="outline" class="col-sm-4">
                  <mat-label>Staff Name</mat-label>
                  <mat-select name="StaffId" [(ngModel)]="LeadAssign.StaffId" #StaffId="ngModel" required>
                    <mat-option *ngFor="let Staff of StaffList" [value]="Staff.StaffId">
                      {{ Staff.StaffName }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isSubmitted">Staff name is <strong>required</strong></mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-sm-4">
                  <mat-label>Lead Date</mat-label>
                  <input matInput [matDatepicker]="picker" name="LeadDate" [(ngModel)]="LeadAssign.LeadDate" required />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="isSubmitted && !LeadAssign.LeadDate">Lead Date is
                    <strong>required</strong></mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-sm-4">
                  <mat-label>Lead Category</mat-label>
                  <mat-select name="LeadCategoryId" [(ngModel)]="LeadAssign.LeadCategoryId" required>
                    <mat-option *ngFor="let cat of LeadCategoryList" [value]="cat.LeadCategoryId">
                      {{ cat.LeadCategoryName }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isSubmitted && !LeadAssign.LeadCategoryId">Lead Category is
                    <strong>required</strong></mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-sm-12">
                  <mat-label>Lead Detail</mat-label>
                  <textarea matInput #LeadDetail="ngModel" [rows]="6" name="LeadDetail" [(ngModel)]="LeadAssign.LeadDetail" required style="resize: none;"></textarea>
                  <mat-error>Lead Detail is <strong>required</strong></mat-error>
                </mat-form-field>

                <input accept=".png,.jpg,.jpeg,.pdf,.doc,.docx" hidden #inputAttachments
                                                [(ngModel)]="LeadAssign.Attachments" name="inputAttachments"
                                                (change)="setAttachments($event)" type="file" id="file">
                                            <mat-form-field appearance="outline" class="col-sm-6 file_input"
                                                (click)="inputAttachments.click()">
                                                <mat-label>Lead File</mat-label>
                                                <input matInput readonly="true" name="AttachmentsName"
                                                    [(ngModel)]="LeadAssign.AttachmentsName">
                                                <button mat-icon-button
                                                    matSuffix><mat-icon>attach_file</mat-icon></button>
                                            </mat-form-field>

                <mat-form-field appearance="outline" class="col-sm-6">
                  <mat-label>Instruction </mat-label>
                  <textarea matInput name="Instruction" #Instruction="ngModel" [(ngModel)]="LeadAssign.Instruction" style="resize: none;"
                  ></textarea>
                  <mat-error>Instruction is <strong>required</strong></mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-sm-6">
                  <mat-label>Status</mat-label>
                  <mat-select name="Status" [(ngModel)]="LeadAssign.Status" required>
                    <mat-option *ngFor="let status of StatusList" [value]="status.Key">{{ status.Value }}</mat-option>
                  </mat-select>
                  <mat-error>Status is <strong>required</strong></mat-error>
                </mat-form-field>

              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer mt-2">
          <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal"
            (click)="resetForm()">Cancel</button>
          <button class="btn btn-primary" (click)="SaveLeadAssign()">{{ LeadAssign.LeadId > 0 ? 'Update' : 'Add'
            }}</button>
        </div>
      </div>
    </div>
  </div>
</main>