
<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main" *ngIf="action.ResponseReceived">

     <div class="row">
          <div class="pagetitle dashboard col-sm-8">
               <h1>{{action.MenuTitle}}</h1>
               <nav>
                    <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                         <li class="breadcrumb-item">{{action.ParentMenuTitle}}</li>
                         <li class="breadcrumb-item active">{{action.MenuTitle}}</li>
                    </ol>
               </nav>
          </div>
     </div>


     <section class="section dashboard">
          <div class="card">
               <div class="card-body ">
                    <div class="table-container overflow-auto">
                         <div class="dataTable-top">
                              <div class="dataTable-dropdown d-flex">
                                   <select class="dataTable-selector form-select form-select-sm"
                                        [(ngModel)]="itemPerPage">
                                        <option *ngFor="let option of PageSize" [value]="option">{{option}} </option>
                                   </select>
                                   <span class="ms-2">Entries per page</span>
                              </div>
                              <div class="dataTable-search">
                                   <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                                        placeholder="Search..." type="text">
                              </div>
                         </div>

                         <table class="table table-sm table-bordered table-hover">
                              <thead>
                                   <tr>
                                        <th>S.No</th>
                                        <th style="cursor:pointer;" (click)="sort('LeaveDetailName')">Staff Name
                                        </th>
                                        <th style="cursor:pointer;" (click)="sort('Status')">Staff Code</th>
                                        <!-- <th *ngIf="action.CanEdit">No of Days</th> -->
                                        <th >Join Date</th>
                                        <th >Request Date</th>
                                        <th >Resion</th>
                                        <!-- <th >Message</th> -->
                                        <th >Instruction</th>
                                        <th >Status Update Date</th>
                                        <th >Status</th>
                                        <th >Update</th>
                                   </tr>
                              </thead>
                              <tbody>
                                   <tr
                                        *ngFor="let item of ResignationDetailList |filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
                                        <td>{{(itemPerPage * (p -1)) +i+ 1}}</td>
                                        <td>{{item.StaffName}}</td>
                                        <td>{{item.StaffCode}}</td>
                                        <td>{{item.JoinDate|date:"dd-MM-yy"}}</td>
                                        <td>{{item.DepatureDate|date:"dd-MM-yy"}}</td>
                                        <td>{{item.BreafReason}}</td>
                                        <!-- <td></td> -->
                                        <td>{{item.Instruction}}</td>
                                        <td>{{item.StatusUpdateDate|date:"dd-mm-yy"}}</td>
                                        <td>
                                             <span class="p-1 badge" [ngClass]="{
        'text-bg-warning': item.ResignationStatus == 1,
        'text-bg-success': item.ResignationStatus == 2,
        'text-bg-primary': item.ResignationStatus == 3,
        'text-bg-danger': item.ResignationStatus == 4
      }">
                                                  {{ AllStatusList[item.ResignationStatus] }}
                                             </span>

                                        </td>
                                        <td *ngIf="action.CanEdit">
                                             <button class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                                  data-bs-target="#staticBackdrop" (click)="editResignationDetail(item)">
                                                  <i class="bi bi-pencil-square"></i>
                                             </button>
                                        </td>

                                   </tr>
                              </tbody>
                         </table>
                         <div class="dataTable-bottom">
                              <pagination-controls (pageChange)="p=$event" style="float:right;"
                                   class="my-pagination"></pagination-controls>
                         </div>
                    </div>
               </div>
          </div>

     </section>

     <div class="modal fade" *ngIf="action.CanEdit || action.CanCreate" id="modal_popup" data-bs-backdrop="static"
          data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
               <div class="modal-content">
                    <div class="modal-header">
                         <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ResignationDetail.ResignationDetailId > 0 ?
                              'Update':'New'}}
                              Resignation Detail
                         </h1>
                         <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                         <form #formResignationDetail="ngForm" class="d-flex justify-content-evenly flex-wrap">
                              <div class="container">
                                   <div class="row">

                                        <!-- <mat-form-field appearance="outline" class="col-sm-6">
                                             <mat-label>Staff Name</mat-label>
                                             <input matInput #staffName="ngModel" name="staffName"
                                                  [(ngModel)]="LeaveDetail.staffName" disabled="true" autofocus>
                                             <mat-error>
                                                  Lead Category name is <strong>required</strong>
                                             </mat-error>
                                        </mat-form-field> -->

                                        <!-- <mat-form-field appearance="outline" class="col-sm-6">
                                             <mat-label>No OF Days</mat-label>
                                             <input matInput #NoOfDays="ngModel" name="NoOfDays"
                                                  [(ngModel)]="LeaveDetail.NoOfDays" disabled="ture" autofocus>

                                        </mat-form-field> -->

                                        <!-- <mat-form-field appearance="outline" class="col-sm-6">
                                             <mat-label>From Date</mat-label>
                                             <input matInput [matDatepicker]="fromPicker"
                                                  [(ngModel)]="LeaveDetail.LeaveDateFrom" name="LeaveDateFrom"
                                                  disabled="ture">
                                             <mat-datepicker-toggle matSuffix
                                                  [for]="fromPicker"></mat-datepicker-toggle>
                                             <mat-datepicker #fromPicker></mat-datepicker>
                                        </mat-form-field> -->

                                        <!-- <mat-form-field appearance="outline" class="col-sm-6">
                                             <mat-label>To Date</mat-label>
                                             <input matInput [matDatepicker]="toPicker"
                                                  [(ngModel)]="LeaveDetail.LeaveDateTo" name="LeaveDateTo"
                                                  disabled="ture">
                                             <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                             <mat-datepicker #toPicker></mat-datepicker>
                                        </mat-form-field> -->

                                        <mat-form-field appearance="outline" class="col-sm-6">
                                             <mat-label>Instruction</mat-label>
                                             <input matInput #Instruction="ngModel" name="Instruction"
                                                  [(ngModel)]="ResignationDetail.Instruction" autofocus>

                                        </mat-form-field>

                                        <!-- <mat-form-field appearance="outline" class="col-sm-6">
                                             <mat-label>Status Updated Date</mat-label>
                                             <input matInput [matDatepicker]="Picker"
                                                  [(ngModel)]="ResignationDetail.StatusUpdatedDate" name="StatusUpdatedDate">
                                             <mat-datepicker-toggle matSuffix [for]="Picker"></mat-datepicker-toggle>
                                             <mat-datepicker #Picker></mat-datepicker>
                                        </mat-form-field> -->

                                        <mat-form-field appearance="outline" class="col-sm-6">
                                             <mat-label>Status</mat-label>
                                             <mat-select #ResignationStatus="ngModel" name="ResignationStatus"
                                                  [(ngModel)]="ResignationDetail.ResignationStatus" required>
                                                  <mat-option [value]="status.Key"
                                                       *ngFor="let status of StatusList">{{status.Value}}</mat-option>
                                             </mat-select>
                                             <mat-error>
                                                  Status is <strong>required</strong>
                                             </mat-error>
                                        </mat-form-field> 
                                   </div>
                              </div>

                         </form>
                    </div>

                    <div class="modal-footer mt-2">
                         <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal"
                              (click)="resetForm()">Cancel</button>
                         <button class="btn btn-primary" (click)="saveResignation()">
                              {{ResignationDetail.ResignationDetailId > 0 ? 'Update' : 'Add'}}
                         </button>

                    </div>
               </div>
          </div>
     </div>
</main>